# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# SQLite database
database/*.sqlite
database/*.db

# DB Browser for SQLite project
*.sqbpro